# Build folders
/build/
/dist/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio files
*.vcxproj*
*.sln
*.user
*.opensdf
*.sdf

# MacOS files
.DS_Store

# Editor files
.vscode/
.idea/
*.swp